/* --------------------------------

File#: _highlight-code
Title: Code highlight snippet
Descr: Code for ProcessWire debug regions

-------------------------------- */
pre {
	background: var(--color-white);
	border: 1px solid var(--color-accent-dark);
	border-left: 3px solid var(--color-error);
	color: var(--color-contrast-high);
	page-break-inside: avoid;
	font-size: var(--text-sm);
	line-height: var(--heading-line-height);
	margin-bottom: var(--space-md);
	overflow: auto;
	padding: var(--space-md) var(--space-md);
	display: block;
	word-wrap: break-word;
}